.ant-btn.ant-btn-primary{
    color: white;
    background-color: rgb(168, 0, 65);
    font-size: 15px;
    border-color: rgb(168, 0, 65);
    margin-bottom: 20px;
    padding: 16px 98px;
    padding-bottom: 35px;
}

.anticon {
    fill: black;
}

.ant-checkbox .ant-checkbox-checked .ant-checkbox-inner {
    border-color: white;}

.ant-btn.ant-btn-primary:hover{
    color: white;
    background-color: black;
    border-color: white;
}

h2.ant-typography, .ant-typography h2 {
    color:white;
}

.login-form-forgot, .register{
    color: rgb(226, 13, 95);
    font-size: 15px;
}


.login-form-forgot, .register:hover{
    color: white;
}

.ant-form-item label{
    float: left
}

.input-feedback {
    margin-top: 5px;
    height: 20px;
}

.ant-form-item-label > label {
    color:white;
}

    .label.ant.ant-form-item-required {
        color:white;
    }