table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse : collapse;
    width: auto;
    table-layout: auto;
}

td, th {
    border: 1px solid rgb(202, 0, 61);
    text-align: left center;
    padding: 10px 60px;
    color:white;
    width: 100%;
    
}

h1, h2, h3, h4, h5, h6 {
    color:white;
}


td{
    text-align: left center;

}

tr:hover {
    background-color: rgb(202, 0, 61);
}


tr{
    background-color: black;
  }

.ant-form-item-label > label {
    color:white;
}

address, article, aside, div, footer, header, hgroup, layer, main, nav, section {
    background-color: black;
}
