  .content {
      position: absolute;
      z-index: 500;
      background-color: black;
      width: 70%;
      box-shadow: 0px 0px 8px 3px rgb(202, 0, 61);
      padding: 16px;
      right: 16.5%;
      top: 110%;
      color:white;
      box-sizing: border-box;
      transition: all 0.3s ease-out;
  } 

  .Backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left:0;
    top:0;
    background-color: rgba(0, 0, 0, 0.5);
}
  
  .movieDetails .content{
    display: block;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 1px;
    color: white;
  }
  
  
  .movieDetails .content h2{
    font-size: 27px;
    font-weight: 400;
    color:rgb(235, 19, 84);
    padding: 20px;
  }   
  
  .movieDetails .content .rating{
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
  }
  
  .movieDetails .content .overview{
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 14px;
    text-align: justify;
  }
  
  .movieDetails .content .overview img {
    max-width: 1920px;
    margin-left: 40px;
    width: auto;
  }
  
  .movieDetails .content .overview p{
    flex: 1 1 30%;
    margin: 10px;
    padding: 90px;
    padding-left: 25px;
  }
  
  .movieDetails .content .close{
    display: inline-block;
    padding: 10px 40px 30px;
    font-size: 18px;
    font-weight: 400;
    background: black;
    color:  white;
    border-radius: 8px;
    border-color: rgb(202, 0, 61);
    outline: none;
    appearance: none;
    cursor: pointer;
    transition: 0.4s ease-out;
    margin-bottom: 20px;
  }
  
  .movieDetails .content .close:hover{
    background: rgb(202, 0, 61);
    color: white;
  }